.values {
	width: 100px;
	margin-right: 4px;
}
#num1 {
	margin-left: 2px;
}

.firstLabel {
	margin-left: -5px;
  color: white;
}
.secondlabel {
  color: white;
}

#gender {
	margin-left: -5px;
  color: white;
}

#btn {
	border: solid #000 2px;
	border-radius: 25%;
}
#btn:hover {
	background-color: red;
	font-weight: bold;
}
h4 {
  color: white;
	padding-top: 25px;
}

#result {
	border: solid #ccc 2px;
	border-radius: 25%;
	width:150px;
	padding-top: 10px;
	position: relative;
	left: 23%;
	height:40px;
	margin: 20px;
	text-align: center;
	background-color: #fff;
	font-size: 20px;
}
#calc {
	border: solid #000 3px;
	width: 350px;
	height: 350px;
	text-align: center;
	padding: 15px;
	padding-top: 35px;
	padding-bottom: 35px;
	position: absolute;
	top: 18%;
	background-image: url(./Couldn\'t\ find\ a\ decent\ Red\ Camouflage\ wallpaper\ so\ i\ made\ one\ instead\ [1920x1080].jpg);
    background-size: contain;
}

#message {
	font-weight: bold;
    font-size: 20px;
	text-transform: uppercase;
  color: white;
}

@media screen and(max-width:815px){
	
	#calc {
     position: relative;
	   width: 50%;
	   margin-left:-70px; 
	   padding-bottom: 55px;
	}
	
	#result {
		position: relative;
		width: 34%;
		left: 22%;
	}	
	
	#radio {
    color: white;
		position: relative;
		width: 78%;
	}
	#num1 {
		margin-left: -3px;
		margin-right: 4px;
	}
	#num2 {
		margin-left: -6px;
		margin-right: 6px;
	}
	.secondLabel{
		margin-left: 90px;
	}
}